* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Noto Sans', sans-serif;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  position: fixed;
  z-index: 2;
  height: 5.875rem;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.3s , height 0.3s;
}
.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}
.navbar-light .navbar-logo-path {
  fill: #292D33;
}
.logo {
  display: none;
}
.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 100%;
  list-style: none;
  padding: 0 ;
  padding-left: 3.125rem;
  margin: 0;
}
.navbar-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar-nav-item:not(:last-child) {
  margin-right: 3.125rem;
}
.navbar-nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  /* Первый способ по hover эффектам  => */
  /* border-bottom: 2px solid rgba(235, 235, 240, 0); */
}
/* .navbar-nav-link:hover {
  border-bottom: 2px solid rgba(235, 235, 240, 10);
  transition: 0.8s all;
} */

/* Второй способ по hover эффектам,можно поиграться с какой стороны будет
начинаться плавность линии! => */
.navbar-nav-link::after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: #5C8EE6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.navbar-nav-link:hover::after {
  width: 100%;
}
  /* <= */
.navbar-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: .625rem;
  margin-right: 2.5rem;
}
.phone-svg {
  fill: #5C8EE6;
}
.navbar-phone-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #FFFFFF;
  background: #3A71D1;
  padding: 1.5625rem 3.75rem;
  border: none;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2.5rem;
}
.navbar-button:hover {
  background: #1b57bf;
}
.navbar-button .button-icon {
  display: none;
}
.header {
  padding-top: 5.875rem;
}
.header-image {
  background: url(../img/header_bg.jpg) center center/cover no-repeat;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-content {
  margin-top: 9.375rem;
  padding-left: 10px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.seporator {
  width: 150px;
  height: 2px;
  background: #5C8EE6;
}
.header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Book';
  font-size: 5rem;
  line-height: 120%;
  margin: 1.5625rem 0 2.1875rem 0;
  word-spacing: .0625rem;
  letter-spacing: .0375rem;
}
.header-text {
  max-width: 45rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
}
.header-button {
  padding: 1.625rem 3.75rem;
}
.header-button:hover {
  background: #1b57bf;
}
.slider-buttons {
  display: none;
  height: 2.75rem;
}
.slider-button-prev , 
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.steps-buttons {
  display: none;
}
.steps-buttons .slider-button-prev{
  background-color: #5C8EE6;
  flex-basis: 0;
  display: flex;
  padding: 2px 2px;
}
.steps-buttons .slider-button-next {
  background-color: #5C8EE6;
  flex-basis: 0;
  display: flex;
  padding: 2px 2px;
}
.header-features {
  position: relative;
  display: flex;
  min-height: 10.5rem;
  margin-top: 6.25rem;
  list-style: none;
  padding: 0;
}
.header-features-item {
  padding: 1.75rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
  width: 18rem;
  height: auto;
}
.header-features-text {
  color: #fff;
  margin-top: 1.375rem;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-light {
 margin: 9.375rem 0rem 9.375rem 1.375rem;
}
.section-title {
  font-family: 'Bebas Neue Book';
  font-weight: 400;
  font-size: 3.75rem;
  color: #292D33;
  margin-top: 1.875rem;
  margin-bottom: 3.125rem;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  width: 20.625rem ;
}
.steps-number {
  font-family: 'Bebas Neue Book';
  font-weight: 400;
  font-size: 3rem;
  color: #5C8EE6;
  margin-bottom: 2.1875rem;
  display: flex;
  align-items: center;
}
.steps-number::after {
  content: "";
  height: .0625rem;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1.875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  margin-bottom: .625rem;
  }
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
}
.steps-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5C8EE6;
  text-decoration: none;
}
.steps-link::before {
  content: "";
  height: .0625rem;
  width: 2.5rem;
  background: #5C8EE6;
  margin-right: 1rem;
  transition: width 0.2s;
}
.steps-link:hover::before {
  width: 3.75rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
}
.card:hover {
  border: 3px solid #5C8EE6;
}
.card:hover .card-title {
  color: #5C8EE6;
}
.card-content {
  padding: 2.5rem 3.125rem;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}
.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: 0;
  margin-bottom: 24.625rem;
}
.card-image {
  width: 90%;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
}
.brand-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  border: 1px solid #EBEBF0;
  padding: 3.125rem;
  gap: 3.125rem;
  text-decoration: none;
  transition: 0.2s all;
  cursor: pointer;
}
.brand-blocks:hover {
  border: 3px solid #5C8EE6;
}
.agtech-brand, .logo-brand {
  fill: #828A99;
  flex-shrink: 0;
  width: 140px;
  height: 121px;
}
.brand-blocks:hover .agtech-brand {
  fill: #5C8EE6;
}
.brand-blocks:hover .logo-brand {
  fill: #5C8EE6;
}
.brand-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  margin: 0;
  margin-bottom: .625rem;
}
.brand-blocks:hover .brand-title {
  color: #5C8EE6;
}
.brand-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin: 0;
}

@media ( max-width: 1700px) {
  html {
    font-size: 14px;
  }
}
@media ( max-width: 1550px) {
  html {
    font-size: 13px;
  }
  .navbar-logo {
    padding: 0 1.5625rem;
  }
  .logo-svg {
    width: 8.125rem;
    height: 2.5rem;
  }
}
@media ( max-width: 1400px) {
  .container {
    max-width: 80rem;
  }
  .navbar-nav {
    padding-left: 1.5625rem
  }
  .navbar-nav-item:not(:last-child) {
    margin-right: 1.5rem;
  }
  .navbar-phone {
    margin-right: 1.5625rem;
  }
  .phone-svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media ( max-width: 1200px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 71.25rem;
  }
  .navbar-phone {
    display: none;
  }
  .navbar-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .navbar-button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .slider-buttons  {
    display: flex;
  }
  .section-light {
    margin-left: 0;
  }
  .steps {
    gap: 1rem;;
  }
  .card {
    flex-basis: 50%;
  }
}
@media (max-width: 1024px) {
  .steps-buttons {
    display: flex;
    justify-content: flex-end;
  }
  .steps {
    gap: .625rem;
  }
}
@media ( max-width: 992px) {
  html {
    font-size: 11px;
  }
  .container {
    max-width: 60rem;
  }
  .navbar {
    height: 6.2rem;
  }
  .navbar-light {
    height: 5.2rem;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-logo {
    flex-grow: 1;
    justify-content: center;
    border: none;
  }
  .logo-svg {
    width: 11rem;
    height: 3.5rem;
  }
  .navbar-light .mobile-menu-toggle {
    padding: 2rem 2.5rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.5rem ;
    border-right:  1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform 0.3s;
  }  
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #FFFFFF
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color :#fff;
    padding: 5rem 1.5rem 0 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
    margin-top: 1.875rem;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: .875rem;
    line-height: 160%;
    color: #292D33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-item {
    margin-bottom: .625rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828A99;
    font-weight: 400;
    font-size: .875rem;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292D33;
    padding-top: 2rem;
    border-top: 1px solid  #EBEBF0;
    margin-bottom: 1.25rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  .mobile-info-address ,
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292D33;
  }
  .mobile-social {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-9px);
  }
  .steps {
    gap: 0.4rem;
  }
  .brand-blocks {
    flex-basis: 100%;
  }
  .agtech-brand, .logo-brand {
    flex-shrink: 0.5;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 40rem;
  }
  .header-content {
    margin-top: 3rem;
    padding-left: 0;
  }
  .header-title {
    font-size: 4rem;
  }
  .card {
    flex-basis: 100%;
  }
  .agtech-brand, .logo-brand {
    flex-shrink: 0.8;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-content {
    margin-top: 4.9rem;
  }
  .header-title {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    line-height: 130%;
    margin-bottom: 18px;
  }
  .header-text {
    font-size: 1.2rem;
    margin-bottom: 35px;
  }
  .header-features {
    margin-top: 8rem;
    min-height: 7.5rem;
  }
  .header-features-text {
    margin-top: 1.125rem ;
  }
  .section-title {
    font-size: 3rem;
  }
  .steps-title {
    font-size: 1.25rem;
  }
  .steps-text {
    font-size: 12px;
  }
  .steps {
    gap: .25rem;
  }
}
@media (max-width: 425px) {
  .header-button {
    width: 100%;
    padding: 2rem 4rem;
  }
  .header-features-item {
    text-align: center;
  }
  .seporator {
    width: 100px;
  }
  .section-title {
    margin-bottom: 2rem;
  }
  .steps-number {
    font-size: 4rem;
    margin-bottom: 1.8rem;
  }
  .steps-title {
    font-size: 1.7rem;
  }
  .steps-text {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .steps-link {
    font-size: 1.2rem;
  }
  .steps {
    gap: 0rem;
  }
  .steps-buttons {
    margin-top: 1.25rem;
  }
  .steps-buttons .slider-button-prev, .slider-button-next{
    padding: 5px 10px;
  }
  .steps-buttons .slider-button-next {
    padding: 5px 10px;
  }
  .production {
    margin-top: 10rem;
  }
  .production-title {
    margin-bottom: 2.5rem;
  }
  .card-content {
    padding: 2.5rem;
  }
  .card-title {
    font-size: 1.8rem;
  }
  .card-text {
    font-size: 1.2rem;
  }
  .span-brand {
    display: none;
  }
}